<h1>Lote: <%= @lot.code%></h1>

<table>
    <tr>
        <th>Item</th>
        <th>Ação</th>
    </tr>
    <% @items.each do |i|%>
            <tr>
                <td> <%= Item.find(i.item_id).name %> </td>
                <td> <%= button_to "Remover", lot_item_path(i.id), id:i.id, method: :delete %> </td>
            </tr>
    <% end%>
</table>