<table>
    <tr>
        <th>Código</th>
        <th>Status</th>
        <th>Usuário</th>
    </tr>
    <% @lots.each do |l|%>
        <tr>
            <td> <%= l.code%> </td>
            <td> <%= l.aproved%> </td>
            <td> <%= l.user.email%> </td>
            <td></td>
        </tr>
    <% end%>
</table>