*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
main {
    width: 980px;
    margin: 0 auto;
}
header {
    background-color: #174873;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.nav-bar{
    width: 980px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.nav-bar ul {
    display: flex;
    
}
.nav-bar ul > li {
    list-style: none;
    margin-right: 1.75rem;
    font-weight: 600;
}
.nav-bar ul > li > a {
    text-decoration: none;
    color: #fff;
}
.nav-bar ul > li > a:hover {
    color: #091926;
}
.btn {
    padding: 5px 15px;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    color: #fff;
}

.container{
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.content{
    width: 100%;
    margin-bottom: 1rem;
}

.menu > li{
    list-style: none;
    margin-bottom: 1rem;
}
.menu > li > a {
  
    color: #091926;
    margin-bottom: 1rem;
}
.table {
    width: 100%;
    border: solid;
}
.table tbody {
    text-align: center;
}
.table tbody th{
    background-color: beige;
}
.table .table-actions{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.table-actions .tb-btn{
    text-decoration: none;
    color: #fff;
    background: #15438f;
    border-radius: 8px;
    font-size: 13px;
    padding: 2px 4px;
    border: none;
    font-weight: 900;
    text-align: center;
}